<div class="dream-card">
  <div class="row">
    <div class="col-md-12">
      <img [src]="dream.imageUrl" width="200px" height="120px">
    </div>
  </div>
  <div class="row">
    <div class="dream-name col-md-12">
      {{ dream.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{ dream.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"><span class="fa fa-dollar"></span></div>
    <div class="col-md-8">{{dream.price}} HUF</div>
  </div>
  <div class="row">
    <div class="col-md-4"><span class="fa fa-bank"></span></div>
    <div class="col-md-8">{{dream.currentlyCovered}}</div>
  </div>
  <div class="row">
    <div class="col-md-4"><span class="fa fa-percent"></span></div>
    <div class="col-md-8">{{dream.getPercentageReady()}}</div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button (click)="removeCover()"
              class="btn btn-primary" title="Remove 10000 HUF">
        <span class="fa fa-2x fa-toggle-down"></span>
      </button>
    </div>
    <div class="col-md-6">
      <button (click)="addCover()"
              class="btn btn-primary" title="Add 10000 HUF">
        <span class="fa fa-2x fa-toggle-up"></span>
      </button>
    </div>

  </div>
</div>
